cookie_secret = '...'  # Random string to cross-check the stored cookie. Any string will do.
port = 3000  # port used by the web server when in sandbox mode

# Orcid ID of the site admin that is added to the database at creation
admin_orcid = 'xxxx-xxxx-xxxx-xxxx'

# If everyone_is_editor is False, admins must add editors to database manually.
# Otherwise, everyone with an ORCID account is an editor.
everyone_is_editor = True

# Set favicon (use "" for none). File name is with respect to static/img
favicon = "favicon.ico"

# Set header background image (use "" for none). File name is with respect to static/img
background = "splash.png"

# Default parameters for the home page
site_title = "Job announcements"  # used in the header
site_subtitle = "An open source jobs announcement platform"  # used in the header
site_title_footer = "Job announcements"  # Used in footer and for webpage title
site_path = "/"

# Subject categories, separated by semicolons
categories =  Tenure and tenure-track faculty;Non-tenure track faculty;Visiting positions;Postdocs and fellowships;Ph.D.;Master;Internships;Science management;Scientific and technical staff;Engineering;Outreach and education;Other

# URL and name of a link displayed in the website footer, such as the association website
footer_url_name = "My-Organization"
footer_url = "https://my.organization.example.org/"

# Add a statement in the footer that states this job announcement code was created by the Planetary Research Cooperative
thank_prc = False

# Contact email in the footer
contact_email = "tech@my-organization.example.org"

# ORCID API credentials
client_ID = 'APP-ABCDEFGHIJKLMNOP'
client_secret = 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'

# If the ORCID client credentials correspond to a member account, set to 1
orcid_member = 0

# Mastodon API. If present, each new announcement will be posted to Mastodon
# mastodon_client_id='...'
# mastodon_client_secret='...'
# mastodon_access_token='...'
# mastodon_api_base_url='...'
# mastodon_account_name = '@...@...'
# mastodon_account_url = "..."

# Bluesky API. If present, each new announcement will be posted to Bluesky
# bluesky_username = "..."
# bluesky_app_password = "..."
# bluesky_account_name = "@..."
# bluesky_account_url = "..."

# Uncomment and provide a public URL when used in production. When public_domain
# is not set, the app will use the ORCID sandbox API.
# public_domain = 'https://jobs.example.org'
