<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://jobs.planetary-research.org/static/img/preview.png" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" />
    <!-- <link href='//fonts.googleapis.com/css?family=Source+Code+Pro:300' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />

    <script src="{{ url_for('static', filename='js/jquery-2.0.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

    {% include "controls.html" %}

    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>

    <header>
        <div class="container">
            <h1><a href="{{ header_path }}"><b>{{ header_title | safe }}</b></a></h1>
            <h3 class="short">{{ header_subtitle | safe }}</h3>
        </div>
    </header>

    <main>
        <div class="container">
            {% block alert %}{% endblock %}
            {% block nav %}{% endblock %}
            <div class="margin-before-content" id="content">{% block content %}{% endblock %}</div>
        </div>
    </main>

    <footer>
        <div class="container">
            <table width="100%">
                <td width="85%" style="vertical-align: top;">
                    <h4><a href="{{ job_announcements_url }}"><b>{{ site_title_footer }}</b></a></h4>
                    <p class="footer-small">
                        <a href="{{ footer_url }}" target="_blank">{{ footer_url_name }}</a>
                    </p>
                    {% if thank_prc is true %}
                    <p class="footer-small">
                        Created by the <a href="https://coop.planetary-research.org">Planetary Research Cooperative</a>
                    </p>
                    {% endif %}
                    <p class="social">
                        <a href="https://github.com/planetary-research/job-announcements" title="Github"><i class="bi bi-github"></i></a> <a href="mailto:{{ contact_email }}" title="Contact"><i class="bi bi-envelope"></i></a> <a href="https://solarsystem.social/@planetary_research_jobs" title="Mastodon"><i class="bi bi-mastodon"></i></a> <a href="https://bsky.app/profile/jobs.planetary-research.org" title="Bluesky">
                          <i><svg style="position: relative; bottom: -2px;" xmlns="http://www.w3.org/2000/svg" width="13pt" height="13pt" fill="currentColor" class="bi bi-bluesky" viewBox="0 0 16 16">
    <path d="M3.468 1.948C5.303 3.325 7.276 6.118 8 7.616c.725-1.498 2.698-4.29 4.532-5.668C13.855.955 16 .186 16 2.632c0 .489-.28 4.105-.444 4.692-.572 2.04-2.653 2.561-4.504 2.246 3.236.551 4.06 2.375 2.281 4.2-3.376 3.464-4.852-.87-5.23-1.98-.07-.204-.103-.3-.103-.218 0-.081-.033.014-.102.218-.379 1.11-1.855 5.444-5.231 1.98-1.778-1.825-.955-3.65 2.28-4.2-1.85.315-3.932-.205-4.503-2.246C.28 6.737 0 3.12 0 2.632 0 .186 2.145.955 3.468 1.948"/>
  </svg></i></a> <a href="/feed" title="Atom feed"><i class="bi bi-rss"></i></a>
                    </p>
                </td>
                <td style="text-align: left; vertical-align: top;">
                    <p class="footer-small"><a href="{{ job_announcements_url }}">Home</a></p>
                    <p class="footer-small"><a href="{{ faq_uri }}">FAQ</a></p>
                    <p class="footer-small"><a href="{{ privacy_uri }}">Privacy Policy</a></p>
                    <p class="footer-small"><a href="{{ authorization_uri_admin }}">Sign in</a></p>
                </td>
            </table>
        </div>
    </footer>

</body>
</html>
