{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block title %}{{ site_title_footer }} - Editor page{% endblock %}
{% block nav %}{% include "nav-admin.html" %}{% endblock %}

{% block alert %}

{% if alert.info is not none %}
<div class="alert alert-info alert-dismissable" role="alert">
    {{ alert.info }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% if alert.success is not none %}
<div class="alert alert-success alert-dismissable" role="alert">
    {{ alert.success }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% if alert.warning is not none %}
<div class="alert alert-warning alert-dismissable" role="alert">
    {{ alert.warning }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% if alert.danger is not none %}
<div class="alert alert-danger alert-dismissable" role="alert">
    {{ alert.danger }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% endblock %}

{% block content %}

<div class="margin-bottom">
    <h3>EDIT OR DELETE A JOB ANNOUNCEMENT</h3>
    <p>
        To edit or delete a job announcement, click on the job name. To view a job, click on <i class="bi bi-eye"></i> (published) or <i class="bi bi-eye-slash"></i> (closed).
    </p>
    <h3>My announcements</h3>

    <div class="my-job-list">
        {% for name, desc in my_jobs.items() %}
        <p class="my-job-entries">
            <a href="/{{ name }}"><i class="bi {% if desc[2] %}bi-eye{% else %}bi-eye-slash{% endif %}" style="margin-right: 1.2em;"></i></a><a href="{{ desc[1] }}/edit">{{ desc[0] | safe }}</a>
        </p>
        {% endfor %}
        {% if my_jobs.items()|length == 0 %}
        <p class="my-job-entries">None</p>
        {% endif %}
    </div>

    {% if role_id == 3 %}
    <h3>All announcements</h3>

    <div class="my-job-list">
        {% for name, desc in all_jobs.items() %}
        <p class="my-job-entries">
            <a href="/{{ name }}"><i class="bi {% if desc[2] %}bi-eye{% else %}bi-eye-slash{% endif %}" style="margin-right: 1.2em;"></i></a><a href="{{ desc[1] }}/edit">{{ desc[0] | safe }}</a>
        </p>
        {% endfor %}
        {% if my_jobs.items()|length == 0 %}
        <p class="my-job-entries">None</p>
        {% endif %}
    </div>
    {% endif %}

</div>

{% endblock %}
