{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block title %}{{ site_title_footer }} - Editor page{% endblock %}
{% block nav %}{% include "nav-admin.html" %}{% endblock %}

{% block alert %}

{% if alert.info is not none %}
<div class="alert alert-info alert-dismissable" role="alert">
    {{ alert.info }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% if alert.success is not none %}
<div class="alert alert-success alert-dismissable" role="alert">
    {{ alert.success }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% if alert.warning is not none %}
<div class="alert alert-warning alert-dismissable" role="alert">
    {{ alert.warning }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% if alert.danger is not none %}
<div class="alert alert-danger alert-dismissable" role="alert">
    {{ alert.danger }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% endblock %}

{% block content %}

<div class="margin-bottom">
    <h3>MY ANNOUNCEMENTS</h3>
    <p>
        Click on the job title to view an announcement, or click on <i class="bi bi-pencil-square"></i> to edit the announcement.
    </p>
    <h3>Active announcements</h3>

    <div class="my-job-list">
        {% for name, desc in my_jobs_active.items() %}
        <p class="my-job-entries">
            <a href="{{ desc[1] }}/edit"><i class="bi bi-pencil-square" style="margin-right: 1.2em;"></i></a><a href="/{{ name }}">{{ desc[0] | safe }}</a>
        </p>
        {% endfor %}
        {% if my_jobs_active.items()|length == 0 %}
        <p class="my-job-entries">None</p>
        {% endif %}
    </div>

    <h3 style="margin-top: 1em;">Inactive announcements</h3>

    <div class="my-job-list">
        {% for name, desc in my_jobs_inactive.items() %}
        <p class="my-job-entries">
            <a href="{{ desc[1] }}/edit"><i class="bi bi-pencil-square" style="margin-right: 1.2em;"></i></a><a href="/{{ name }}">{{ desc[0] | safe }}</a>
        </p>
        {% endfor %}
        {% if my_jobs_inactive.items()|length == 0 %}
        <p class="my-job-entries">None</p>
        {% endif %}
    </div>

    {% if role_id == 3 %}
    <h3 style="padding-top: 1em;">ADMINISTRATION</h3>

    <div class="my-job-list">
        {% for name, desc in all_jobs.items() %}
        <p class="my-job-entries">
            <a href="{{ desc[1] }}/edit"><i class="bi bi-pencil-square" style="margin-right: 1.2em;"></i></a><a href="/{{ name }}">{{ desc[0] | safe }}</a>
        </p>
        {% endfor %}
        {% if all_jobs.items()|length == 0 %}
        <p class="my-job-entries">None</p>
        {% endif %}
    </div>
    {% endif %}

</div>

{% endblock %}
