{% extends "base.html" %}

{% block title %}{{ site_title_footer }} - Frequently asked questions{% endblock %}

{% block nav %}{% include "nav-admin.html" %}{% endblock %}

{% block content %}

<div class="margin-bottom">
    <h3>FREQUENTLY ASKED QUESTIONS</h3>

    <ul>
      <li><a href="#create">How do I create a job announcement?</a></li>
      <li><a href="#modify">How do I modify a job announcement?</a></li>
      <li><a href="#feeds">How to keep up to date: RSS/Atom feeds</a></li>
      {% if mastodon_account_url is not none or bluesky_account_url is not none %}
      <li><a href="#social">How to keep up to date: {% if mastodon_account_url is not none %}Mastodon{% endif %}{% if (mastodon_account_url or bluesky_account_url) and not (mastodon_account_url and bluesky_account_url) %}{% else %} and {% endif %}{% if bluesky_account_url is not none %}Bluesky{% endif %}</a></li>
      {% endif %}
      <li><a href="#data">Are any data stored with ORCID?</a></li>
      <li><a href="#code">Can I see the source code?</a></li>
    </ul>

    <h3 id="create">How do I create a job announcement?</h3>
    <p>
      To create a job announcment, click on the link to
      <a href="{{ authorization_uri_admin }}">sign in</a> and then
      authenticate with your <a href="https://orcid.org">ORCID</a> account.
      After signing in, click the link "create" in the administrator options
      at the top of the screen. From this page, you will be asked to provide
      some standard information about the job announcement in a form, and to
      provide a job description using a text editor. If the job description was
      already written, it should only take about two minutes to publish your
      announcement.
    </p>
    <p>
      All job announcments will expire one day after the application deadline.
      If no deadline was provided, the announcment will expire after 1 year.
      The jobs database will be periodically purged of expired announcments.
    </p>

    <h3 id="modify">How do I modify a job announcement?</h3>
    <p>
      To modify a job announcment, it is only necessary to sign in and then
      click on the "Edit/Delete" link in the adminstrator options at the top of
      the page. From this page you will see a list of all the annuoncmenents
      that you created. Clicking on one will bring you to a page where you
      can modify all the fields that you entered previously. On this page you
      will also have the option to close the announcement, which will keep the
      announcement in the database but not show it on the home page. If the
      announcement was closed, you can choose to publish it, which will make it
      visible on the home page. You also have the option to delete the annoucement
      entirely from the database.
    </p>

    <h3 id="feeds">How to keep up to date: RSS/Atom feeds</h3>
    <p>
      One way to keep up to date with new announcements on this website is by adding our
      RSS/Atom feeds to your feed reader. We offer a feed for all job announcements
    </p>
    <ul>
      <li><a href="{{ job_announcements_url}}/feed">All jobs</a></li>
    </ul>
    <p>
    as well as feeds for each job category
    </p>
    <ul>
      {% for category in category_names %}
      <li><a href="{{ job_announcements_url}}/feed/category/{{ loop.index0 }}">{{ category }}</a></li>
      {% endfor %}
    </ul>

    {% if mastodon_account_url is not none or bluesky_account_url is not none %}
    <h3 id="social">How to keep up to date: {% if mastodon_account_url is not none %}Mastodon{% endif %}{% if (mastodon_account_url or bluesky_account_url) and not (mastodon_account_url and bluesky_account_url) %}{% else %} and {% endif %}{% if bluesky_account_url is not none %}Bluesky{% endif %}</h3>
    <p>All new job announcements are posted immediately on
      {% if mastodon_account_url is not none %}Mastodon{% endif %}{% if (mastodon_account_url or bluesky_account_url) and not (mastodon_account_url and bluesky_account_url) %}{% else %} and {% endif %}{% if bluesky_account_url is not none %}Bluesky{% endif %}. To keep up to date, it is only necessary to follow
     </p>
    <ul>
      {% if mastodon_account_url is not none %}<li> <a href="{{ mastodon_account_url }}">
        {{ mastodon_account_name }}</a> (Mastodon)</li>{% endif %}
      {% if bluesky_account_url is not none %}<li><a href="{{ bluesky_account_url }}">
        {{ bluesky_account_name }}</a> (Bluesky)</li>{% endif %}
    </ul>
    {% endif %}

    <h3 id="data">Are any data stored with ORCID?</h3>
    <p>
      No. Authenticating with ORCID is used only to allow users to create
      a new job announcement or to manage their previously created announcements.
      No data are stored on ORCID servers and ORCID can not access the job
      announcement database.
    </p>

    <h3 id="code">Can I see the source code?</h3>
    <p>
      Yes! The code that we use is available on
      <a href="https://github.com/planetary-research/job-announcements" class="external">Github</a> and
      everyone is free to inspect it. We encourage users to inform us of
      any bugs, and we are open to contributions that will improve the
      functionality of the application.
    </p>

</div>

{% endblock %}
