{% extends "base.html" %}

{% block title %}{{ site_title_footer }} - Frequently asked questions{% endblock %}

{% block nav %}{% include "nav-admin.html" %}{% endblock %}

{% block content %}

<div class="margin-bottom">
    <h3>FREQUENTLY ASKED QUESTIONS</h3>

    <ul>
      <li><a href="#create">How do I create a job announcement?</a></li>
      <li><a href="#modify">How do I modify a job announcement?</a></li>
      <li><a href="#how-long">How long are job announcements shown?</a></li>
      {% if mastodon_account_url is not none or bluesky_account_url is not none %}
      <li><a href="#social">How to keep up to date: {% if mastodon_account_url is not none %}Mastodon{% endif %}{% if (mastodon_account_url or bluesky_account_url) and not (mastodon_account_url and bluesky_account_url) %}{% else %} and {% endif %}{% if bluesky_account_url is not none %}Bluesky{% endif %}</a></li>
      {% endif %}
      <li><a href="#email">How to keep up to date: Email</a></li>
      <li><a href="#feeds">How to keep up to date: RSS/Atom feeds</a></li>
      <li><a href="#data">Are any data stored with ORCID?</a></li>
      <li><a href="#code">Can I see the source code?</a></li>
    </ul>

    <h3 id="create">How do I create a job announcement?</h3>
    <p>
      To create a job announcment, click on the link to
      <a href="{{ authorization_uri_admin }}">sign in</a> and then
      authenticate with your <a href="https://orcid.org">ORCID</a> account.
      Next, click the link <i>Create</i> in the options
      at the top of the screen. This will bring you to a new page, and you
      will be asked to provide some information about the job announcement in
      a form and to provide a job description using a text editor. If the job
      description was already written, it should only take about three minutes
      to publish your announcement.
    </p>
    <p>
      All job announcments are set to expire one day after the application deadline.
      If no deadline was provided, the announcment will expire after one year.
      The jobs database will be periodically purged of expired announcments.
    </p>

    <h3 id="modify">How do I modify a job announcement?</h3>
    <p>
      To modify a job announcment, it is only necessary to sign in and then
      click on the <i>Edit/Delete</i> link in the options at the top of
      the page. This will bring you to a page that will list of all the annuoncmenents
      that you created. By clicking on one of your announcements, you will be
      redirected to a page where you can modify all the fields that you entered
      previously. You will also have the option to close the announcement, which
      will keep the announcement in the database but not show it on the home page.
      If the announcement was closed, you can choose to publish it, which will make it
      visible on the home page. You will also have the option to delete the annoucement
      entirely from the database.
    </p>

    <h3 id="how-long">How long are job announcements shown?</h3>
    <p>
      Job announcements will be shown on the website up until one day after
      the application deadline. When four months have passed since the
      deadline, the job announcement will be automatically closed: This means
      that the job will remain in the database, but only the job owner will have
      access to the announcement. When one year has passed since the deadline,
      the announcement will be deleted from the database.
    </p>
    <p>
      If the job announcement doesn't have an application deadline, it will be deleted
      automatically after one year has passed since it was posted. If the job
      doesn't have an application deadline and it was since closed,
      it will be deleted one year after the announcement was created.
    </p>

    {% if mastodon_account_url is not none or bluesky_account_url is not none %}
    <h3 id="social">How to keep up to date: {% if mastodon_account_url is not none %}Mastodon{% endif %}{% if (mastodon_account_url or bluesky_account_url) and not (mastodon_account_url and bluesky_account_url) %}{% else %} and {% endif %}{% if bluesky_account_url is not none %}Bluesky{% endif %}</h3>
    <p>All new job announcements are posted immediately on
      {% if mastodon_account_url is not none %}Mastodon{% endif %}{% if (mastodon_account_url or bluesky_account_url) and not (mastodon_account_url and bluesky_account_url) %}{% else %} and {% endif %}{% if bluesky_account_url is not none %}Bluesky{% endif %}. To keep up to date, it is only necessary to follow
     </p>
    <ul>
      {% if mastodon_account_url is not none %}<li> <a href="{{ mastodon_account_url }}">
        {{ mastodon_account_name }}</a> (Mastodon)</li>{% endif %}
      {% if bluesky_account_url is not none %}<li><a href="{{ bluesky_account_url }}">
        {{ bluesky_account_name }}</a> (Bluesky)</li>{% endif %}
    </ul>
    {% endif %}

    <!-- This is branding that will need to be removed -->
    <h3 id="email">How to keep up to date: Email</h3>
    <p>
      We send a weekly digest of all new job announcements by email
      every sunday. To subscribe to this list, you will first need to sign in to your
      <a href="{{ footer_url }}" target="_blank">{{ footer_url_name }}</a> member account.
      From the <i>Member Services</i> page, click on the link to <i>Email Lists</i>, and then
      choose to subscribe to the <i>{{ site_title }} (weekly digest)</i> list.
    </p>

    <h3 id="feeds">How to keep up to date: RSS/Atom feeds</h3>
    <p>
      One way to keep up to date with new announcements on this website is by adding our
      RSS/Atom feeds to your feed reader. We offer a feed for all job announcements
    </p>
    <ul>
      <li><a href="{{ job_announcements_url}}/feed">All jobs</a></li>
    </ul>
    <p>
    as well as feeds for each job category
    </p>
    <ul>
      {% for category in category_names %}
      <li><a href="{{ job_announcements_url}}/feed/category/{{ loop.index0 }}">{{ category }}</a></li>
      {% endfor %}
    </ul>

    <h3 id="data">Are any data stored with ORCID?</h3>
    <p>
      No. Authenticating with ORCID is used only to prove that you are the owner
      of an ORCID iD. This allow users to create a new job announcement or to
      manage their previously created announcements. No data are stored on ORCID
      servers.
    </p>

    <h3 id="code">Can I see the source code?</h3>
    <p>
      Yes! The code that we use is available on
      <a href="https://github.com/planetary-research/job-announcements" class="external">Github</a> and
      everyone is free to inspect it. We encourage users to inform us of
      any bugs, and we are open to contributions that will improve the
      functionality of the application.
    </p>

</div>

{% endblock %}
