{% extends "base.html" %}

{% block title %}{{ site_title_footer }}{% endblock %}
{% block nav %}{% include "nav-admin.html" %}{% endblock %}

{% block content %}
<div class="intro">
  {% if everyone_is_editor %}
  <p>Anyone can create a job announcement on this website for free. It is only necessary to <a href="{{ authorization_uri_admin }}">sign in</a> using your ORCID account and then fill out a short form.</p>
  {% else %}
  <p>It is free to post job announcements on this website. If you have an announcement that you would like to share, please contact us by <a href="mailto:{{ contact_email }}" target="_blank" title="Contact">email</a>.</p>
  {% endif %}
</div>

<div class="category-list">
  <ul>
    {% for id in range(category_names | length) %}
    {% if category_mask[id] == true %}
    <li><a href="#{{ id }}">{{ category_names[id] }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="job-list">
    {% for id in range(category_names | length) %}
      {% set counter = namespace(value=0) %}
      {% if category_mask[id] == true %}
      <p class="job-category" id="{{ id }}">
        <b>{{ category_names[id] }}</b>
      </p>
      <table class="job-table">
        <thead>
          <tr>
            <th class="col1"><span class="small-screen">Title</span></th>
            <th class="col2"><span class="small-screen">Institution</span></th>
            <th class="col3"><span class="small-screen">Location</span></th>
            <th class="col4"><span class="small-screen">Deadline</span></th>
            <th class="col5"><span class="small-screen">Posted</span></th>
          </tr>
        </thead>
        <tbody>
        {% for name, desc in jobs_list.items() %}
          {% if desc[0] == id %}
            {% set counter.value = counter.value + 1 %}
            <tr>
              <td><span class="small-screen"><a href="{{ desc[1] }}">{{ desc[2] | safe }}</a></span></td>
              <td><span class="small-screen">{{ desc[3] | safe }}</span></td>
              <td><span class="small-screen">{{ desc[4] | safe }}</span></td>
              <td><span class="small-screen">{{ desc[5] }}</span></td>
              <td><span class="small-screen">{{ desc[6] }}</span></td>
            </tr>
          {% endif %}
        {% endfor %}
        </tbody>
      </table>
      {% endif %}
  {% endfor %}
</div>

{% endblock %}
