{% extends "base.html" %}

{% block title %}{{ site_title_footer }} - Job announcement{% endblock %}
{% block nav %}{% include "nav-admin.html" %}{% endblock %}

{% block content %}

<div class="job-content">
{% if role_id >= 1 %}
{% if show_edit %}
<p><a href="{{ edit_URL }}"><i class="bi bi-pencil-square"></i>&nbsp;&nbsp;Edit this announcement</a></p>
{% endif %}
<form action="{{ download_uri }}" method="POST" id="download-json">
    <p style="padding-bottom: 2em; line-height:0em;"><button type="submit" name="mode" value="download-json" class="btn btn-link link" style="padding:0; border: 0; font-size: 1em; line-height:0em;"><i class="bi bi-download"></i>&nbsp;&nbsp;Download as JSON</button></p>
</form>
{% endif %}

<p style="text-transform: uppercase; padding-bottom: 0.5em;">
  {{ job_category }}
</p>

<h2 class="job">{{ job_title | safe }}</h2>

<p style="margin-top: 4em; font-size: 0.8em; font-weight: bold; color: #444; line-height:0;">SUMMARY</p>
<hr style="margin-top: 0; border-color: #aaa;">

<div class="job-summary-box">

    {% if job_institution != '' %}
    <p class="job-label">
      <span class="job-label-header">Institution</span>{{ job_institution }}
    </p>
    {% endif %}

    {% if job_department != '' %}
    <p class="job-label">
      <span class="job-label-header">Department</span>{{ job_department }}
    </p>
    {% endif %}

    {% if job_location != '' %}
    <p class="job-label">
      <span class="job-label-header">Location</span>{{ job_location }}
    </p>
    {% endif %}

    {% if job_work_arrangement != '' %}
    <p class="job-label">
      <span class="job-label-header">Work arrangement</span>{{ job_work_arrangement}}
    </p>
    {% endif %}

    {% if job_duration != '' %}
    <p class="job-label">
      <span class="job-label-header">Duration</span>{{ job_duration }}
    </p>
    {% endif %}

    {% if job_can_extend != '' %}
    <p class="job-label">
      <span class="job-label-header">Can be extended</span>{{ job_can_extend }}
    </p>
    {% endif %}

    {% if job_salary != '' %}
    <p class="job-label">
      <span class="job-label-header">Salary</span>{{ job_salary }}
    </p>
    {% endif %}

    {% if job_number_positions != '' %}
    <p class="job-label">
      <span class="job-label-header">Number of positions</span>{{ job_number_positions }}
    </p>
    {% endif %}

    {% if job_deadline_date != '' %}
    <p class="job-label">
      <span class="job-label-header">Application deadline</span>{{ job_deadline_date }}
    </p>
    {% endif %}

    {% if job_start_date != '' %}
    <p class="job-label">
      <span class="job-label-header">Start date</span>{{ job_start_date }}
    </p>
    {% endif %}

    {% if job_start_date_string != '' %}
    <p class="job-label">
      <span class="job-label-header">Start date</span>{{ job_start_date_string }}
    </p>
    {% endif %}

    {% if job_official_announcement_url != '' %}
    <p class="job-label">
      <span class="job-label-header">Official announcement</span><a href="{{ job_official_announcement_url }}" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a>
    </p>
    {% endif %}

    {% if job_reference_code != '' %}
    <p class="job-label">
      <span class="job-label-header">Reference code</span>{{ job_reference_code }}
    </p>
    {% endif %}

    {% if job_inquiries_email != '' %}
    <p class="job-label">
      <span class="job-label-header">Inquiries</span>{%if job_inquiries_name != '' %}<a href="mailto:{{ job_inquiries_email }}">{{ job_inquiries_name }}</a>
      {% else %}
      <a href="mailto:{{ job_inquiries_email }}">{{ job_inquiries_email }}</a>
      {% endif %}
    </p>
    {% endif %}

    {% if job_post_date != '' %}
    <p class="job-label">
      <span class="job-label-header">Posted</span>{{ job_post_date }}
    </p>
    {% endif %}

    <p class="job-label">
      <span class="job-label-header">Posted by</span><a href="https://orcid.org/{{ job_owner_orcid }}" target="_blank">{{ job_owner_orcid }}</a>
    </p>
</div>

<div>
  {% if job_description != '' %}

  <p style="margin-top: 4em; font-size: 0.8em; font-weight: bold; color: #444; line-height:0;">JOB DESCRIPTION</p>
  <hr style="margin-top: 0; border-color: #aaa;">
  <div class="job-description">
    {{ job_description | safe}}
  </div>
  {% endif %}
</div>

<hr style="margin-top: 2em; margin-bottom: 1em; border-color: #aaa;">
<div class="back-button">
<p style="margin-bottom: 0;"><a href="{{ job_announcements_url }}"><i class="bi bi-arrow-left"></i> Back</a></p>
</div>

</div>
{% endblock %}
